html, body {
  overflow: hidden;
}




canvas {

  left: 0px;
  position: relative;
  top: 0px;
  border: 1px solid black;
}

/*body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
