html, body {
  margin: 25px;
}

body {
  background-color: #999;
  font-family: Verdana, Geneva, sans-serif;
  /* margin: 0; */
  /* padding: 0; */
}


canvas {

  /* left: 0px; */
  /* position: relative; */
  /* top: 0px; */
  /* border: 1px solid black; */
}

/* body,
html {
  margin: 25px;
} */
  /* ============= */
  /*  old setting  */




header h1 {
  text-align: center;
}

section {
  background-color: #fff;
  margin: 0;
  padding: 25px;
}

.description {
  padding: 25px 0;
}

canvas {
  height: 525px;
  /* width: 1067px;  */
  /* padding: 10px; */
  /* width: 100%; */
  margin: auto;
  display: block;
}

canvas_wrapper {
  margin: auto;
}

pre {
  background: #ccc;
}


/* .navigation {
  background: #999;
  width: 250px;
}

.navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 1px solid #555;
}

.navigation ul li {
  text-align: center;
  border-bottom: 1px solid #555;
}

.navigation ul li:last-child {
  border-bottom: none;
}

.navigation ul li a {
  display: block;
  text-decoration: none;
  padding: 15px;
}

.navigation ul li a:hover {
  background-color: #555;
  color: white;
} */

 /* .active {
  background-color: #777;
  color: white;
} */

/* .main {
  background: #DDD;
  width: 100%;
} */
